body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: aqua;
    color: black;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

#span {
    position: absolute;
    border-radius: 30%;
    background-color: azure;
    padding: 5px;
    font-weight: bold;
}

#btn {
    margin-bottom: 4px;
}

#img {
    height: 100px;
    width: 100px;
}

#backet {
    height: 60px;
    height: 60px;
    border-radius: 50%;
}

.cart {
    border: 1px solid black;
    border-radius: 10px;
    width: 295px;
    height: auto;
    display: flex;
    margin-left: 10px;
}

.details {
    margin-bottom: 5px;
}

.details button {
    border-radius: 3px;
    padding: 5px;
}